.banner {
  padding: 6rem 0;
  background: {
    image: url('../../img/slide/slide-04.jpg');
    attachment: fixed;
    size: cover;
    repeat: no-repeat;
    position: center center;
  }
  text-align: center;

  &__heading {
    font-size: 2.5rem;
    color: $accent;
    font-weight: 550;
  }
}
