.product-detail {
  margin: 3rem 0;
  .row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }

  &__add-to-cart {
    color: $light;
    display: flex;
    align-items: center;
    font-size: 150%;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    @include primary-btn;

    svg {
      margin-right: 1rem;
      polyline,
      path,
      circle {
        stroke: $light;
      }
    }
  }

  &__content {
    width: 50%;
    &--title {
      font-size: 200%;
      font-weight: 550;
      color: $accent;
    }

    &--description {
      line-height: 2;
      margin-bottom: 2rem;
    }
  }

  &__price {
    line-height: 3;
    align-items: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: $accent;
  }

  &__preview {
    padding-right: 2rem;
    width: 48%;
    display: flex;
    &--image {
      flex: 1.5;
      overflow: hidden;
      margin-left: 1rem;
      img {
        border-radius: 0.5rem;
      }
    }
    &--thumbnails {
      img {
        max-height: 150px;
        cursor: pointer;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
      }
      flex: 0.4;
      display: flex;
      flex-direction: column;
    }
  }
}
